<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key ="login" value="alisatest"/>
      <add key ="pass" value="zxcasdf12"/>
      <add key ="textTo" value="linatest@gmail.com"/>
      <add key ="textMessage" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."/>
      <add key ="textToEdited" value="nanerltest@ukr.net"/>
      <add key ="textSubjectEdited" value="Test Subject"/>
      <add key ="textMessageEdited" value="Just simple automated test"/>
    </appSettings>
</configuration>